<!--Student: Eduardo Missono-->
<!--Student ID: 301200673-->
<!--Date: Oct 17, 2022-->

<%- include('../partials/head.ejs') %>
<body>
<div>
    <%- include('../partials/header.ejs') %>
    <main>
        <%- include('../partials/navbar.ejs') %>
        <h3><%= title %></h3>
        <% if (messages.length > 0) { %>
            <div class="errorBanner">
                <%= messages %>
            </div>
        <% } %>
        <form method="post" class="login" autocomplete="off">
            <p>
                <label for="username">User Name </label>
                <input class="loginInput" type="text" id="username" name="username" tabindex="1" required="required" autofocus placeholder="Enter username">
            </p>
            <p>
                <label for="password">Password </label>
                <input class="loginInput" type="password" id="password" name="password" tabindex="3" required="required" placeholder="Enter password">
                or
                <a href="/register">Register Here</a>
            </p>
            <p class="loginInputButton">
                <input type="submit" value="Login">
                <a href="/">
                    <input type="button" value="Cancel">
                </a>
            </p>
        </form>
    </main>
    <%- include('../partials/footer.ejs') %>
</div>
</body>
</html>