<!--Student: Eduardo Missono-->
<!--Student ID: 301200673-->
<!--Date: Oct 17, 2022-->

<%- include('../partials/head_lv2.ejs') %>
<body>
<div>
    <%- include('../partials/header.ejs') %>
    <main>
        <%- include('../partials/navbar.ejs') %>
        <h3><%= title %></h3>

    </main>
    <%- include('../partials/footer.ejs') %>
</div>
</body>
</html>