<!--Student: Eduardo Missono-->
<!--Student ID: 301200673-->
<!--Date: Oct 17, 2022-->

<%- include('../partials/head_lv2.ejs') %>
<body>
<div>
    <%- include('../partials/header.ejs') %>
    <main>
        <%- include('../partials/navbar.ejs') %>
        <h3><%= title %></h3>
        <p><a href="/contacts/add"><i class="fa-solid fa-user-plus fa-lg contactListIcons"></i></a></p>
        <table class="businessContacts">
            <tr>
                <th>Contact Name</th>
                <th>Contact Number</th>
                <th>Email Address</th>
                <th>Options</th>
            </tr>
            <% for (let counter = 0; counter < contacts.length; counter++) { %>
            <tr>
                <td><%= contacts[counter].firstName %> <%= contacts[counter].lastName %></td>
                <td><%= contacts[counter].contactNumber%></td>
                <td><%= contacts[counter].email%></td>
                <td>
                    <a href="/contacts/edit/<%= contacts[counter]._id %>"><i class="fa-solid fa-pen-to-square contactListIcons"></i></a>
                    <a href="/contacts/delete/<%= contacts[counter]._id %>"><i class="fa-solid fa-trash contactListIcons"></i></a>
                </td>
            </tr>
            <% } %>
        </table>
    </main>
    <%- include('../partials/footer.ejs') %>
</div>
</body>
</html>