<!--Student: Eduardo Missono-->
<!--Student ID: 301200673-->
<!--Date: Oct 03, 2022-->

<%- include('partials/head.ejs') %>
<body>
<div>
    <%- include('partials/header.ejs') %>
    <main>
        <%- include('partials/navbar.ejs') %>
        <h3><%= title %></h3>
        <table>
            <tr>
                <td>
                    <p><%= description %></p>
                    <p>
                        For the full resume, click on the PDF icon:
                        <a href="/img/EDM_Resume.pdf" download=""><i class="fa-regular fa-file-pdf fa-2xl"></i></a>
                    </p>

                </td>
                <td>
                    <img class="mugShot" src="/img/EDM.png" alt="Eduardo">
                </td>
            </tr>
        </table>
        <br>
    </main>
    <%- include('partials/footer.ejs') %>
</div>
</body>
</html>