<!--Student: Eduardo Missono-->
<!--Student ID: 301200673-->
<!--Date: Oct 17, 2022-->

<!DOCTYPE>
<html lang="en">
<%- include('partials/head.ejs') %>
<body>
<div>
    <%- include('partials/header.ejs') %>
    <main>
        <%- include('partials/navbar.ejs') %>
        <h3><%= title %></h3>
        <p><%= description %></p>
    </main>
    <%- include('partials/footer.ejs') %>
</div>
</body>
</html>