<!--Student: Eduardo Missono-->
<!--Student ID: 301200673-->
<!--Date: Oct 17, 2022-->

<!DOCTYPE>
<html lang="en">
<%- include('partials/head.ejs') %>
<body>
<div>
    <%- include('partials/header.ejs') %>
    <main>
        <%- include('partials/navbar.ejs') %>
        <h3><%= title %></h3>
        <p><%= description %></p>
        <table class="businessContacts">
            <tr>
                <th>Contact Name</th>
                <th>Contact Number</th>
                <th>Email Address</th>
                <th>Options</th>
            </tr>
            <tr>
                <td>Dudu Missono</td>
                <td>(666) 789-4567</td>
                <td>dudu@dudu.ca</td>
                <td>
                    <i class="fa-solid fa-pen-to-square"></i>
                    <i class="fa-solid fa-trash"></i>
                </td>
            </tr>
            <tr>
                <td>Dudu Missono</td>
                <td>(666) 789-4567</td>
                <td>dudu@dudu.ca</td>
                <td>
                    <i class="fa-solid fa-pen-to-square"></i>
                    <i class="fa-solid fa-trash"></i>
                </td>
            </tr>
            <tr>
                <td>Dudu Missono</td>
                <td>(666) 789-4567</td>
                <td>dudu@dudu.ca</td>
                <td>
                    <i class="fa-solid fa-pen-to-square"></i>
                    <i class="fa-solid fa-trash"></i>
                </td>
            </tr>
        </table>
    </main>
    <%- include('partials/footer.ejs') %>
</div>
</body>
</html>